body {
    margin: 0;
    background: #9eb4d1;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "content"
        "footer";
    min-height: 100vh;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: #859cc6;
}

header img {
    display: block;
    height: 230px;
}

.title {
    padding-left: 16px;
    color: #2d3b4c;
    font-size: 6vw;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 160px 1fr;
}

nav {
    background: #e5bdc9cc;
    height: 192px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul {
    display: grid;
}

a {
    display: block;
    padding: 14px 18px;
    color: #fff;
    text-decoration: none;
}

li {
    border-bottom: 1px solid #fff;
}

li:last-child {
    border-bottom: none;
}

section {
    background: #fff;
    padding: 24px;
    width: 100%;
}

article {
    display: grid;
    grid-template-columns: 1fr 270px;
    column-gap: 16px;
}

article h2,
article p {
    grid-column: 1;
}

article h2 {
    color: #9eb4d1;
    font-size: 28px;
}

.desktop-img {
    grid-column: 2;
    grid-row: 1 / span 10;
    align-self: start;
}

.desktop-img img,
.mobile-img img {
    width: 100%;
    display: block;
}

.mobile-img {
    display: none;
}

footer {
    grid-area: footer;
    background: #859cc6;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

/* Tablet View */
@media (max-width: 900px) and (min-width: 400px) {

    header img {
        height: 150px;
        width: 200px;
    }

    .content {
        grid-template-columns: 1fr;
    }

    nav {
        width: 100%;
        height: auto;
        background: transparent;
    }

    nav ul {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        column-gap: 8px;
    }

    li {
        border: none;
        margin: 20px 8px 0 8px;
    }

    a {
        background: #e5bdc9;
        padding: 30px;
        text-align: center;
    }
}

/* Mobile View */
@media (max-width: 600px) {

    header {
        background: linear-gradient(rgba(143, 167, 211, 0.6), rgba(179, 201, 240, 0.6)),
            url('../images/lighthouselogo.jpg') center/cover no-repeat;
        background-position: calc(100% + 200px) center;
        grid-template-columns: 1fr;
    }

    header img {
        display: none;
    }

    .title {
        margin-left: 5%;
        font-size: 10vw;
        color: darkblue;
    }

    .content {
        grid-template-columns: 1fr;
    }

    nav {
        width: 100%;
        background: #9eb4d1;
    }

    nav ul {
        display: grid;
        grid-template-columns: 1fr;
    }

    nav li {
        border-bottom: 1px solid #fff;
    }

    nav a {
        background: none;
    }

    article {
        display: block;
    }

    .desktop-img {
        display: none;
    }

    .mobile-img {
        display: block;
        margin: 0 0 16px 0;
    }

    section {
        width: 90%;
        margin: 0 auto;
    }
}
